- name: Create the `aur_builder` user
  become: yes
  ansible.builtin.user:
    name: aur_builder
    create_home: yes
    group: wheel

- name: Allow the `aur_builder` user to run `sudo pacman` without a password
  become: yes
  ansible.builtin.lineinfile:
    path: /etc/sudoers.d/11-install-aur_builder
    line: "aur_builder ALL=(ALL) NOPASSWD: /usr/bin/pacman"
    create: yes
    mode: 0644
    validate: "visudo -cf %s"

- name: (AUR) Install matcha GTK theme
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      - matcha-gtk-theme
      - qogir-gtk-theme

- name: (AUR) Install signal and slack
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      - slack-desktop
      - signal-desktop

- name: (AUR) Install spotify
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      - spotify

# - name: (AUR) Install i3lock-color
#   kewlfft.aur.aur:
#     use: yay
#     state: present
#     name:
#       - i3lock-color

- name: (AUR) Install evdi (TUXEDO Laptop DP via USB-C)
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      - evdi

- name: (AUR) Install autorandr (TUXEDO Laptop DP via USB-C)
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      - autorandr

- name: (AUR) Install displaylink (TUXEDO Laptop DP via USB-C)
  kewlfft.aur.aur:
    use: yay
    state: present
    name:
      - displaylink

- name: Enable displaylink service
  become: true
  ansible.builtin.systemd_service:
    name: displaylink
    enabled: true
    force: true
